/* code adapted from Steven Paling */

html, body {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: 100%;
}

body {
    background-color: #ffffff;
    font-family: 'Bentham', serif;
    font-size: 0.9em;
}

h2 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-size: 125%;
}

table {
    border-spacing: 0em;
    float: left;
    font-family: 'Bentham', serif;
    margin-right: 2.3em;
    margin-bottom: 2em;
}

th {
    border-bottom: solid 1px black;
    padding: 0.5em;
}

tr:nth-child(2) td {
    border-bottom: solid 1px black;
    font-size: 1em;
    font-weight:bold;
    text-align: center;
}

td {
    border-bottom: 1px solid #ddd;
    max-width: 8.2em;
    padding: 0.5em;
    text-align: center;
}

/* code adapted from http://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
.anchor {
    display: block;
    position: relative;
    top: -25em;
    visibility: hidden;
}

/* styling by secton */
#top {
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    width: 100%;
}

#banner {
    top:0;
    background-color:brown;
    color: lemonchiffon;
    height: 5.8em;
    width: 100%;
}

#banner_left {
    font-family: 'Quicksand';
    font-size: 2.5em;
    text-align: left;
    margin-left: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#banner_right {
    font-family: 'Bentham';
    font-size: 1.3em;
    margin-right: 3.4em;
    text-align: right;
    margin-top: -2.5em;
}

#banner_right > a {
    color: lemonchiffon;
    margin-left: 6px;
    margin-right: 10px;
}

#banner_right > a:link {
    color: brown;
    text-decoration: none;
}

#banner_right > a:hover {
    color: #ffffff;
    text-decoration: underline;
}

#images_nav img {
    height: 250px;
    width: 250px;
}

#images_nav {
    background-color: #ffffff;
    border-bottom: solid 2px lemonchiffon;
    font-family: 'Bentham', serif;
    font-size: 1.25em;
    height: 260px;
    margin-top: 0.5em;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-left: auto;
    max-width: 1015px;;
}

#images_nav > a {
    margin-right: 1px;
    text-decoration: none;
}


#fun_image, #market_image, #food_image, #craft_image {
    opacity:1;
    transition: opacity 1s; 
}

#fun_image.fadeOut, #market_image.fadeOut, #food_image.fadeOut, #craft_image.fadeOut {
    opacity:0;
}

/* code adapted from http://stackoverflow.com/questions/14263594/how-to-show-text-on-image-when-hovering */
.imgdiv {
    position: relative;
    display: inline-block;
    height: 250px;
    width: 250px;
}

.imgdesc {
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    bottom: 0;
    background: rgba(255, 153, 0, 0.72);
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
    line-height: 250px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility opacity 0.2s;
}

.imgdiv:hover .imgdesc {
    visibility: visible;
    opacity: 1;
}

#container {
    width: 100%;
}

#content {
    margin-top: 24em;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

#center {
    /* background-color: beige; */
    display: inline-block;
    width: 100%;
}

#center > h2 {
    font-size: 1.25em;
    margin-top: 2em;
    margin-bottom: 1em;
}

#center > p {
    margin-top: 0;
}
